<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
        
</head>

<body>
    <div class="container d-flex justify-content-center mt-5 " id="login">
        <div class="form-signin" method="POST" action="logica.php">
            <div class="text-center">
                <img class="mb-4 " src="https://res.cloudinary.com/bitcharge/image/upload/v1535940305/panda-avatar.png" alt="" width="150" height="150">
            </div>
            
            <h1 class="h3 mb-3 font-weight-normal">Ingresa usuario y contraseña</h1>
            <label for="inputEmail" class="sr-only"></label>
            <input type="email" id="inputEmail" class="form-control mb-2" placeholder="Usuario" required autofocus v-model="usuario">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control mb-2" placeholder="Contraseña" required v-model="password">
            <button class="btn btn-dark btn-block" type="submit" @click="validar">Entrar</button>
            <div :class="['mt-2',alerta,'text-center']">{{errorMsg}}</div>
          </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>}
    <script src="logica.js"></script>

</body>

</html>