<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio </title>
</head>
<body>
    
    <div id="content">
        <h4>{{titulo}}</h4>
        <input type="text" v-model="setPersona">
        <button @click="addPersona">Agregar</button>
        <p v-for="persona of personas">{{persona}}</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="eje2.js"></script>
</body>
</html>